.under-construction-container {
  width: 100%;
  height: 9vh;
  background-color: yellow;
  position: relative;
  top: 75px;
  text-align: center;
}

.under-construction-title {
  font-size: 2rem;
  color: black;
  margin: 0;
}

.under-construction-subtitle {
  font-size: .7rem;
  color: black;
  margin: 0;
}